pre code.hljs {
    display: block !important;
    overflow-x: auto !important;
    padding: 1em;
  }
  code.hljs {
    padding: 3px 5px;
  }
  .hljs {
    background: #23241f  !important;
    color: #f8f8f2  !important;
  }
  .hljs-subst,
  .hljs-tag {
    color: #f8f8f2  !important;
  }
  .hljs-emphasis,
  .hljs-strong {
    color: #a8a8a2  !important;
  }
  .hljs-bullet,
  .hljs-link,
  .hljs-literal,
  .hljs-number,
  .hljs-quote,
  .hljs-regexp {
    color: #ae81ff  !important;
  }
  .hljs-code,
  .hljs-section,
  .hljs-selector-class,
  .hljs-title {
    color: #a6e22e  !important;
  }
  .hljs-strong {
    font-weight: 700  !important;
  }
  .hljs-emphasis {
    font-style: italic  !important;
  }
  .hljs-attr,
  .hljs-keyword,
  .hljs-name,
  .hljs-selector-tag {
    color: #f92672  !important;
  }
  .hljs-attribute,
  .hljs-symbol {
    color: #66d9ef  !important;
  }
  .hljs-class .hljs-title,
  .hljs-params,
  .hljs-title.class_ {
    color: #f8f8f2  !important;
  }
  .hljs-addition,
  .hljs-built_in,
  .hljs-selector-attr,
  .hljs-selector-id,
  .hljs-selector-pseudo,
  .hljs-string,
  .hljs-template-variable,
  .hljs-type,
  .hljs-variable {
    color: #e6db74  !important;
  }
  .hljs-comment,
  .hljs-deletion,
  .hljs-meta {
    color: #75715e  !important;
  }
  